<template lang='pug'>
  v-ons-page
    v-ons-toolbar(style="background-color: #09cefd;")
      div(class="centerDiv" style="color: #01647c; width: 33%;" @click="pageControl(0)") <<
      div(class="centerDiv" style="color: #01647c; width: 34%;") {{page}}
      div(class="centerDiv" style="color: #01647c; width: 33%;" @click="pageControl(1)") >>

    v-ons-carousel(fullscreen swipeable auto-scroll overscrollable :index.sync="tabIndex")
      // Credentials
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          v-ons-input(class="basicSpacing textWidth" placeholder="E-mail Address" float type="email" v-model="email")
          v-ons-input(class="basicSpacing textWidth" placeholder="Password" float type="password" v-model="password")
      // Personal
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          v-ons-input(class="basicSpacing textWidth" placeholder="Full Name" float v-model="form.name")
          v-ons-input(class="basicSpacing textWidth" placeholder="Mobile #" float v-model="form.mobileNumber")
          ons-row.textWidth
            ons-col(width="25%")
              div Birthday
            ons-col(width="75%")
              v-ons-input(class="basicSpacing" type="date" v-model="form.birthday")
          v-ons-input(class="basicSpacing textWidth" placeholder="Address" float v-model="form.address")
          v-ons-input(class="basicSpacing textWidth" placeholder="Gender" float v-model="form.gender")
          ons-row.textWidth
            ons-col(width="25%")
              div Preferred City
            ons-col(width="75%")
              v-ons-select(class="basicSpacing" style="width: 100%" v-model="form.city")
                option(v-for="item in cities" :value="item") {{item}}
      // Profile
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          img(v-bind:src="imgSrc" height="250vh")
          div.basicSpacing
          v-ons-button(style="width: 40vw" class="button-yellow" @click="submitProfile()") Submit Profile
      // Education
      v-ons-carousel-item
        div.centerDiv
          v-ons-button(class="button-blue" style="margin: 10px; width: 90vw;" @click="addEducationDetailVisible = true") Add Education Detail
        div(class="fullHeight" style="background-color: white; width: 100vw;")
          v-ons-list(style="overflow-y: auto; height: 80vh;")
            v-ons-list-header
            v-ons-list-item(v-for="education in educationList")
              ons-row
                ons-col(width="75%")
                  ons-row
                    ons-col(class="text-header" width="45%") Type:
                    ons-col(class="text") {{education.type}}
                  ons-row
                    ons-col(class="text-header" width="45%") School Name:
                    ons-col(class="text") {{education.name}}
                  div(class="text-header") Period:
                  ons-row
                    ons-col(class="text") {{education.from}}
                    ons-col(class="text") {{education.to}}
                  div(class="text-header") Course:
                  div(class="centerDiv text") {{education.course || 'n/A'}}
      // Professional
      v-ons-carousel-item
        div.centerDiv
          v-ons-button(class="button-blue" style="margin: 10px; width: 90vw;" @click="addProfessionDetailVisible = true") Add Professional Detail
        div(class="fullHeight" style="background-color: white;")
          v-ons-list(style="overflow-y: auto; height: 80vh;")
            v-ons-list-header
            v-ons-list-item(v-for="professional in professionalList")
              ons-row
                ons-col(width="75%")
                  ons-row
                    ons-col(class="text-header" width="45%") Job Title:
                    ons-col(class="text") {{professional.job}}
                  ons-row
                    ons-col(class="text-header" width="45%") Company:
                    ons-col(class="text") {{professional.company}}
                  div(class="text-header") Period:
                  ons-row
                    ons-col(class="text") {{professional.from}}
                    ons-col(class="text") {{professional.to}}
      // Submit
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          v-ons-button(style="width: 40vw" class="button-yellow" @tap="onSubmit()") Submit

      // Education Dialog
      v-ons-dialog(cancelable :visible.sync="addEducationDetailVisible")
        div(class="dialogPadding" style="height: 50vh; width: 90vw;")
          div(class="centerDiv") Add Detail
            v-ons-select(class="basicSpacing textWidth" v-model="educationDetail.type")
              option(v-for="item in education" :value="item") {{item}}
            v-ons-input(class="basicSpacing textWidth" placeholder="School Name" float v-model="educationDetail.name")
            div(class="centerBar")
              v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="From" float v-model="educationDetail.from")
              v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="To" float v-model="educationDetail.to")
            template(v-if="educationDetail.type == 'Collegiate'")
              v-ons-input(class="basicSpacing textWidth" placeholder="Course" float v-model="educationDetail.course")
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                v-ons-button(class="button-blue" @click="addEducationDetailVisible = false") Cancel
              ons-col(class="centerDiv")
                v-ons-button(class="button-yellow" @click="addEducDetail()") Add Detail

      // Profession Dialog
      v-ons-dialog(cancelable :visible.sync="addProfessionDetailVisible")
        div(class="dialogPadding" style="height: 50vh; width: 90vw;")
          div(class="centerDiv") Add Detail
            v-ons-input(class="basicSpacing textWidth" placeholder="Job Title" float v-model="professionalDetail.job")
            v-ons-input(class="basicSpacing textWidth" placeholder="Company" float v-model="professionalDetail.company")
            div(class="centerBar")
              v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="From" float v-model="professionalDetail.from")
              v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="To" float v-model="professionalDetail.to")
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                v-ons-button(class="button-blue" @click="addProfessionDetailVisible = false") Cancel
              ons-col(class="centerDiv")
                v-ons-button(class="button-yellow" @click="addProfDetail()") Add Detail

      // Loading Dialog
      v-ons-dialog(:visible.sync="signingUp")
        div(class="dialogPadding" style="width: 90vw;")
          div(class="centerDiv") Signing Up. Please Wait...

</template>

<script lang='coffee'>
  import firebase from 'firebase'
  import Vue from 'vue'
  export default
    data: ->
      title: "Jubs Darekt"
      password: ''
      email: ''
      # {name, mobileNumber, birthday, address, city, gender, education, professional}
      form: {
        name: ''
        mobileNumber: ''
        birthday: ''
        address: ''
        city: ''
        gender: ''
      }
      educationList: []
      professionalList: []
      # {type, name, from, to, course}
      educationDetail: {}
      # {job, company, from, to}
      professionalDetail: {}
      signingUp: false
      addProfessionDetailVisible: false
      addEducationDetailVisible: false
      tabIndex: 0
      labels: [ "Credentials", "Personal", "Profile", "Education", "Professional", "Finish" ]
      imgSrc: require "~/assets/default_profile.jpg"
    computed:
      page: -> @labels[@tabIndex]

      # NUXT CONSTANT #
      cities: -> process.env.city
      education: -> process.env.education
    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      submitProfile: () ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.CAMERA
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.FRONT
            targetWidth: 300
            targetHeight: 400
          }
          # console.log "CAMERA UP"
          # console.log
          await Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.imgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova

      addEducDetail: ->
        if !@educationDetail.type then @$ons.notification.alert('Type is empty')
        else if !@educationDetail.name then @$ons.notification.alert('Name is empty')
        else if !@educationDetail.from then @$ons.notification.alert('From is empty')
        else if !@educationDetail.to then @$ons.notification.alert('To is empty')
        else if @educationDetail.type == "Collegiate"
          if !@educationDetail.course then @$ons.notification.alert('Course is empty')
        else
          @educationList.push @educationDetail
          @addEducationDetailVisible = false
          @educationDetail = {
            type: ''
            name: ''
            from: ''
            to: ''
            course: ''
          }

      addProfDetail: ->
        if !@professionalDetail.job then @$ons.notification.alert('Job is empty')
        else if !@professionalDetail.company then @$ons.notification.alert('Company is empty')
        else if !@professionalDetail.from then @$ons.notification.alert('From is empty')
        else if !@professionalDetail.to then @$ons.notification.alert('To is empty')
        else
          @professionalList.push @professionalDetail
          @addProfessionDetailVisible = false
          @professionalDetail = {
            job: ''
            company: ''
            from: ''
            to: ''
          }
      pageControl: (e) ->
        switch e
          when 0
            if @tabIndex != 0
              @tabIndex = @tabIndex - 1
          when 1
            if @tabIndex != 5
              @tabIndex = @tabIndex + 1
      onSubmit: ->
        context = @
        @signingUp = true
        if !@email then @$ons.notification.alert('Email is empty')
        else if !@password then @$ons.notification.alert('Password is empty')
        else if !@form.name then @$ons.notification.alert('Name is empty')
        else if !@form.mobileNumber then @$ons.notification.alert('Mobile Number is empty')
        else if !@form.birthday then @$ons.notification.alert('Birthday is empty')
        else if !@form.address then @$ons.notification.alert('Address is empty')
        else if !@form.city then @$ons.notification.alert('City is empty')
        else if !@form.gender then @$ons.notification.alert('Gender is empty')
        else
          try
            # Create User
            await firebase.auth().createUserWithEmailAndPassword(context.email, context.password)
            .then (result) ->
              # Create Applicant
              db = firebase.firestore()
              await db.collection("applicants").add({
                context.form...
                userId: "#{result.user.uid}"
                profile: ""
                education: []
                professional: []
                jobs: []
              })
              .then (applicant) ->
                # Create Education
                context.educationList.forEach (educ) ->
                  db.collection("education").add({
                    educ...
                    applicantId: "#{applicant.id}"
                  }).then (details) ->
                    # Bind Education to array in Applicants
                    db.collection("applicants").doc("#{applicant.id}").update({
                      education: firebase.firestore.FieldValue.arrayUnion(details.id)
                    })

                # Create Professional
                context.professionalList.forEach (prof) ->
                  db.collection("professional").add({
                    prof...
                    applicantId: "#{applicant.id}"
                  }).then (details) ->
                    # Bind Professional to array in Applicants
                    db.collection("applicants").doc("#{applicant.id}").update({
                      professional: firebase.firestore.FieldValue.arrayUnion(details.id)
                    })

                # Profile Pic Upload
                await db.collection("users").doc("#{result.user.uid}").set({
                  email: context.email
                  type: "applicant"
                  typeId: "#{applicant.id}"
                })
                strg = firebase.storage().ref("applicant/#{applicant.id}/profile.jpg")
                await context.getFileObject context.imgSrc, (obj) ->
                  task = strg.put obj
                  task.on 'state_changed', (snap) ->
                    progress = (snap.bytesTransferred / snap.totalBytes) * 100
                    console.log('Upload is ' + progress + '% done')
                    switch snap.state
                      when firebase.storage.TaskState.PAUSED
                        console.log "pause"
                      when firebase.storage.TaskState.RUNNING
                        console.log "running"
                  , (error) ->
                    console.log error
                  , () ->
                    # Bind Profile to Applicant
                    console.log "Setting URL..."
                    await strg.getDownloadURL().then (url) ->
                      await db.collection("applicants").doc("#{applicant.id}").update({ profile: url })
              context.signingUp = false
            .catch (error) ->
              context.$ons.notification.alert("Sign Up #{error}")
            if !context.signingUp
              await firebase.auth().signInWithEmailAndPassword(context.email, context.password)
              .then (snapShot) ->
                context.$ons.notification.alert('Success.')
                context.$router.push "/"
              .catch (error) ->
                context.$ons.notification.alert("Log In #{error}")
                context.$router.push "/"
          catch e
            console.error e

        @signingUp = false

</script>

<style lang="stylus">
  .centerBar
    display flex
    align-items center
    justify-content center
    flex-direction row
</style>
