<template lang='pug'>
  div
    v-ons-toolbar(style="background-color: #09cefd;")
      div(class="centerDiv" style="color: #01647c; width: 33%;" @click="pageControl(0)") <<
      div(class="centerDiv" style="color: #01647c; width: 34%;") {{page}}
      div(class="centerDiv" style="color: #01647c; width: 33%;" @click="pageControl(1)") >>

    v-ons-carousel(fullscreen swipeable auto-scroll overscrollable :index.sync="tabIndex")
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          v-ons-input(class="basicSpacing textWidth" placeholder="E-mail Address" float type="email" v-model="email")
          v-ons-input(class="basicSpacing textWidth" placeholder="Password" float type="password" v-model="password")
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          v-ons-input(class="basicSpacing textWidth" placeholder="Company Name" float v-model="form.name")
          v-ons-input(class="basicSpacing textWidth" placeholder="Address" float v-model="form.address")
          v-ons-input(class="basicSpacing textWidth" placeholder="Landline #" float v-model="form.landline")
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          img(v-bind:src="imgSrc" height="250vh")
          div.basicSpacing
          v-ons-button(style="width: 40vw" class="button-yellow" @click="submitLogo()") Submit Logo
      v-ons-carousel-item
        div(class="fullHeight centerDiv" style="background-color: white;")
          v-ons-button(style="width: 40vw" class="button-yellow" @click="onSubmit()") Submit

      // Loading Dialog
      v-ons-dialog(:visible.sync="signingUp")
        div(class="dialogPadding" style="width: 90vw;")
          div(class="centerDiv") Signing Up. Please Wait...

</template>

<script lang='coffee'>
  import firebase from 'firebase'
  import Vue from 'vue'
  export default
    data: ->
      title: "Jubs Darekt"
      email: ''
      password: ''
      # { name, address, landline }
      form: {
        name: ''
        address: ''
        landline: ''
      }
      signingUp: false
      tabIndex: 0
      labels: [ "Credentials", "Company", "Logo", "Finish" ]
      imgSrc: require "~/assets/default_profile.jpg"
    computed:
      page: -> @labels[@tabIndex]
      cordova: -> Vue.cordova

    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      submitLogo: () ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.PHOTOLIBRARY
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.BACK
            targetWidth: 300
            targetHeight: 400
          }
          Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.imgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova


      pageControl: (e) ->
        switch e
          when 0
            if @tabIndex != 0
              @tabIndex = @tabIndex - 1
          when 1
            if @tabIndex != 3
              @tabIndex = @tabIndex + 1

      onSubmit: ->
        context = @
        @signingUp = true
        if !@email then @$ons.notification.alert('Email is empty')
        else if !@password then @$ons.notification.alert('Password is empty')
        else if !@form.name then @$ons.notification.alert('Name is empty')
        else if !@form.address then @$ons.notification.alert('Address is empty')
        else if !@form.landline then @$ons.notification.alert('Landline is empty')
        else
          try
            await firebase.auth().createUserWithEmailAndPassword(context.email, context.password)
            .then (result) ->
              db = firebase.firestore()
              await db.collection("employers").add({
                context.form...
                userId: "#{result.user.uid}"
                logo: ""
              })
              .then (employer) ->
                await db.collection("users").doc("#{result.user.uid}").set({
                  email: context.email
                  type: "employer"
                  typeId: "#{employer.id}"
                })
                strg = firebase.storage().ref("company/#{employer.id}/logo.jpg")
                await context.getFileObject context.imgSrc, (obj) ->
                  task = strg.put obj
                  task.on 'state_changed', (snap) ->
                    progress = (snap.bytesTransferred / snap.totalBytes) * 100
                    console.log('Upload is ' + progress + '% done')
                    switch snap.state
                      when firebase.storage.TaskState.PAUSED
                        console.log "pause"
                      when firebase.storage.TaskState.RUNNING
                        console.log "running"
                  , (error) ->
                    console.log error
                  , () ->
                    console.log "Setting URL..."
                    await strg.getDownloadURL().then (url) ->
                      await db.collection("employers").doc("#{employer.id}").update({ logo: url })
              context.signingUp = false
            .catch (error) ->
              context.$ons.notification.alert("Sign Up #{error}")
            if !context.signingUp
              await firebase.auth().signInWithEmailAndPassword(context.email, context.password)
              .then (snapShot) ->
                context.$ons.notification.alert('Success.')
                context.$router.push "/"
              .catch (error) ->
                context.$ons.notification.alert("Log In #{error}")
                context.$router.push "/"
          catch e
            console.error e

        @signingUp = false

</script>

<style lang="stylus">
  // .tabbar__label
  //   font-size 10px
  //   color #01647c
  // .tabbar__item
  //   background #09cefd
</style>
