<template lang="pug">
  div
    v-ons-toolbar(style="background-color: #09cefd;")
      v-ons-toolbar-button(class="centerDiv" icon="ion-navicon, material: md-menu" @tap="profileOpen = !profileOpen")
      div(class="centerDiv" style="padding: 5vw; color: #01647c;") Employer Dashboard
      nuxt-link(:to="linkToJobs" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/job.png" height="25vh")
      nuxt-link(:to="linkToHome" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/chat_bubble_active.png" height="25vh")


    //- PROFILE & MAIN CONTENT
    v-ons-splitter
      v-ons-splitter-side(width="100vw" collapse="" side="left" :open.sync="profileOpen")
        v-ons-page
          div(class="topPadding")
          div(class="centerDiv content-swipe")
            img(v-bind:src="employer.logo" width="200" @click="editLogoVisible = !editLogoVisible")
            div(class="text-header") Name
            div(class="text") {{employer.name}}
            div(class="text-header") Address
            div(class="text") {{employer.address}}
            div(class="text-header") Landline
            div(class="text") {{employer.landline}}
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                v-ons-button(class="button-blue" @click="editVisible = !editVisible") Edit
              ons-col(class="centerDiv")
                nuxt-link(to="../../" class="button-yellow" tag="v-ons-button" @click.native="logOut()") Log Out

      v-ons-splitter-content
        v-ons-page
          div(class="topPadding")
          v-ons-list
            v-ons-list-header
            v-ons-list-item(v-for="chat in chats")
              div(style="width: 90vw" @click="showChatRoom(chat.id)")
                ons-row
                  ons-col( width="15%")
                    img(v-bind:src="chat.profile" height="40vh")
                  ons-col
                    ons-row
                      ons-col(class="text-header" width="25%") Name:
                      ons-col(class="text") {{chat.name}}
                    ons-row
                      template(v-if="chat.messages.length > 0")
                        template(v-if="chat.messages[chat.messages.length - 1].owner == 'employer'")
                          ons-col(class="text") You: {{chat.messages[chat.messages.length - 1].message}}
                        template(v-else)
                          ons-col(class="text") Applicant: {{chat.messages[chat.messages.length - 1].message}}

          // CHAT WINDOW (opens when user taps a list item)
          v-ons-dialog(cancelable :visible.sync="chatRoomVisible")
            div(class="dialogPadding" style="height: 90vh; width: 90vw;")
              div(class="centerDiv")
                div(class="centerDiv button-blue") Interviewing {{chattingWith}}
                v-ons-list( style="height: 70vh; width: 85vw; background-color: #d3d3d3; overflow-y: auto;")
                  v-ons-list-header
                  v-ons-list-item(v-for="message in room.messages" )
                    template(v-if="room.messages.length > 0")
                      template(v-if="message.owner == 'employer'")
                        div(class="my-message")
                          div {{message.message}}
                      template(v-else)
                        div(class="their-message")
                          div {{message.message}}
                ons-row
                  ons-col(width="85%")
                    v-ons-input(v-model="messageToSend" placeholder="Enter message here...")
                  ons-col
                    v-ons-button(@click="sendMessage()")

          // EDIT LOGO (opens when user taps LOGO IMAGE)
          v-ons-dialog(cancelable :visible.sync="editLogoVisible")
            div(class="dialogPadding" style="height: 55vh; width: 90vw;")
              div(class="centerDiv")
                div(@click="editLogo()")
                  img(v-bind:src="editImgSrc" height="250vh")
                div.basicSpacing
                v-ons-button(style="width: 40vw" class="button-yellow" @click="saveLogo()") Save Logo

          // EDIT COMPANY DETAILS WINDOW (opens when user taps EDIT)
          v-ons-dialog(cancelable :visible.sync="editVisible")
            div(class="dialogPadding" style="height: 50vh; width: 90vw;")
              div(class="centerDiv")
                div(class="text-header") Name
                v-ons-input(class="text textWidth" v-model="editEmployer.name")
                div(class="text-header") Address
                v-ons-input(class="text textWidth" v-model="editEmployer.address")
                div(class="text-header") Landline
                v-ons-input(class="text textWidth" v-model="editEmployer.landline")
                div(class="topPadding")
                ons-row(class="textWidth")
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-blue" @click="editVisible = !editVisible") Cancel
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-yellow" @click="saveChanges()") Save Changes

          // Saving Dialog
          v-ons-dialog(:visible.sync="saving")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Saving...

          // Loading Dialog
          v-ons-dialog(:visible.sync="loading")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Loading...
</template>

<script lang="coffee">
  import firebase from 'firebase'
  import Vue from 'vue'
  export default
    data: ->
      title: "Jubs Darekt"
      employerData: {}
      profileOpen: false
      chatId: null
      messageToSend: ''
      room: {}
      chats: []
      chattingWith: ''
      chatRoomVisible: false
      loading: false
      editVisible: false
      editLogoVisible: false
      saving: false
      imgSrc: require "~/assets/default_profile.jpg"
      editImgSrc: require "~/assets/default_profile.jpg"
      cardImgSrc: ''
      unsubscribe: null

    computed:
      editEmployer: -> JSON.parse JSON.stringify @employerData
      employer: -> @employerData
      employerId: -> @$route.params.id
      linkToJobs: -> "../job/#{@employerId}"
      linkToHome: -> "../home/#{@employerId}"

      # NUXT CONSTANTS
      fBInit: -> process.env.firebaseInitializer

    created: ->
      if !firebase.apps.length
        firebase.initializeApp(@fBInit)
      @load()

    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      editLogo: ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.PHOTOLIBRARY
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.BACK
            targetWidth: 300
            targetHeight: 400
          }
          Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.editImgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova

      saveLogo: ->
        context = @
        @saving = true
        strg = firebase.storage().ref("company/#{@employerId}/logo.jpg")
        db = firebase.firestore()
        strg.delete()
        await context.getFileObject context.editImgSrc, (obj) ->
          task = strg.put obj
          task.on 'state_changed', (snap) ->
            progress = (snap.bytesTransferred / snap.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch snap.state
              when firebase.storage.TaskState.PAUSED
                console.log "pause"
              when firebase.storage.TaskState.RUNNING
                console.log "running"
          , (error) ->
            console.log error
          , () ->
            console.log "Setting URL..."
            await strg.getDownloadURL().then (url) ->
              await db.collection("employers").doc("#{@employerId}").update({ logo: url })
        @employer.logo = @editImgSrc
        @editImgSrc = ''
        @editLogoVisible = false
        @saving = false

      logOut: ->
        await firebase.auth().signOut()

      sendMessage: ->
        if !@messageToSend || @messageToSend.length > 0
          msgObj = {
            sent: new Date()
            message: @messageToSend
            owner: "employer"
          }
          db = firebase.firestore()
          try
            await db.collection("chats").doc("#{@chatId}").update({
              messages: firebase.firestore.FieldValue.arrayUnion(msgObj)
            }).catch (e) ->
              console.log e
          catch e
            console.log e
          @messageToSend = ''

      showChatRoom: (id) ->
        try
          @chatId = id
          context = @
          @room = {}
          db = firebase.firestore()
          await db.collection("chats").doc("#{@chatId}").onSnapshot (doc) ->
            await db.collection("applicants").doc("#{doc.data().applicantId}").get().then (applicant) ->
              context.chattingWith = applicant.data().name
            context.room = {
                  id: doc.id
                  doc.data()...
                }
        catch e
          console.log e
        @chatRoomVisible = true

      refresh: () ->
        @loading = true
        @unsubscribe
        if(@chats.length == 0)
          context = @
          db = firebase.firestore()
          try
            @unsubscribe = await db.collection("chats").where("employerId","==","#{@employerId}").onSnapshot (snapshot) ->
              context.chats = []
              snapshot.forEach (doc) ->
                await db.collection("applicants").doc("#{doc.data().applicantId}").get().then (applicant) ->
                  context.chats.push {
                    id: doc.id
                    name: applicant.data().name
                    profile: applicant.data().profile
                    doc.data()...
                  }

          catch e
            console.log e
        @loading = false

      saveChanges: ->
        context = @
        if !@editEmployer.name then @$ons.notification.alert('Name is empty')
        else if !@editEmployer.address then @$ons.notification.alert('Address is empty')
        else if !@editEmployer.landline then @$ons.notification.alert('Landline is empty')
        else
          try
            db = firebase.firestore()
            await db.collection("employers").doc("#{@employerId}").update({
              name: context.editEmployer.name
              address: context.editEmployer.address
              landline: context.editEmployer.landline
            })
            @load()
          catch e
            console.log e
          @editVisible = false

      load: () ->
        try
          @refresh()
          db = firebase.firestore()
          context = @
          await db.collection("employers").doc("#{@$route.params.id}").get().then (doc) ->
            context.employerData = doc.data()
          .catch (error) ->
            console.log error
        catch e
          console.log e
</script>

<style lang="stylus" scoped>
  .topPadding
    height 10vh
  .content-swipe
    height 90vh
  .text
    font-size 10px
    &-header
      font-size 12px
      font-weight bold
  .my-message
    background-color #09cefd
    color #01647c
    width 75%
    padding 5px
    word-wrap break-word
    // text-align right
    margin-left auto
    margin-right 0
  .their-message
    background-color #f6d624
    color #786705
    width 75%
    padding 5px
    word-wrap break-word
    // text-align left
    margin-left 0
    margin-right auto
</style>
