<template lang='pug'>
  div
    v-ons-toolbar(style="background-color: #09cefd;")
      v-ons-toolbar-button(class="centerDiv" icon="ion-navicon, material: md-menu" @tap="profileOpen = !profileOpen")
      div(class="centerDiv" style="padding: 5vw; color: #01647c;") Employer Dashboard
      nuxt-link(:to="linkToHome" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/job_active.png" height="25vh")
      nuxt-link(:to="linkToChats" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/chat_bubble.png" height="25vh")


    //- PROFILE & MAIN CONTENT
    v-ons-splitter
      v-ons-splitter-side(width="100vw" collapse="" side="left" :open.sync="profileOpen")
        v-ons-page
          div(class="topPadding")
          div(class="centerDiv content-swipe")
            img(v-bind:src="employer.logo" width="200" @click="editLogoVisible = !editLogoVisible")
            div(class="text-header") Name
            div(class="text") {{employer.name}}
            div(class="text-header") Address
            div(class="text") {{employer.address}}
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                v-ons-button(class="button-blue" @click="editVisible = !editVisible") Edit
              ons-col(class="centerDiv")
                nuxt-link(to="../../" class="button-yellow" tag="v-ons-button" @click.native="logOut()") Log Out

      v-ons-splitter-content
        v-ons-page
          div(class="topPadding")
          v-ons-list
            v-ons-list-header
              v-ons-button(class="centerDiv button-blue" @click="newJobVisible = true") Add New Job
            v-ons-list-item(v-for="job in jobs")
              div(style="width: 90vw")
                ons-row
                  ons-col(width="75%")
                    ons-row
                      ons-col(class="text-header" width="25%") Job:
                      ons-col(class="text") {{job.name}}
                    ons-row
                      ons-col(class="text-header" width="25%") Income:
                      ons-col(class="text") {{job.income}}
                    ons-row
                      ons-col(class="text-header" width="25%") City:
                      ons-col(class="text") {{job.city}}
                    div(class="text-header") Desc:
                    div(class="text") {{job.description}}
                  ons-col
                    v-ons-button(class="centerDiv button-yellow" @click="deleteJob(job.id)")
                      img(src="~/assets/delete.png" width="30vh" height="30vh")
                    div(style="padding-top: 6px;")
                    v-ons-button(class="centerDiv button-yellow" @click="showEdit(job.id)") Edit

          //NEW JOB WINDOW (opens when user taps ADD JOB)
          v-ons-dialog(cancelable :visible.sync="newJobVisible")
            div(class="dialogPadding")
              div(class="centerDiv") New Job
                v-ons-input(class="basicSpacing textWidth" placeholder="Job Title" float type="text" v-model="form.name")
                v-ons-input(class="basicSpacing textWidth" placeholder="Income" float type="number" v-model="form.income")
                v-ons-input(class="basicSpacing textWidth" placeholder="Description" float type="text" v-model="form.description")
                ons-row(style="width: 75vw; padding-top: 10px;")
                  ons-col(width="25%")
                    div City
                  ons-col
                    v-ons-select(style="width: 100%" v-model="form.city")
                      option(v-for="item in cities" :value="item") {{item}}
                ons-row
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-yellow-small" @click="newJobVisible = false") Cancel
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-blue-small" @click="addJob()") OK

          // EDIT JOBS WINDOW (opens when user taps EDIT JOB)
          v-ons-dialog(cancelable :visible.sync="editJobVisible")
            div(class="dialogPadding" style="height: 50vh; width: 90vw;")
              div(class="centerDiv") Edit Job
                div(class="text-header") Name
                v-ons-input(class="text textWidth" v-model="editJob.name")
                div(class="text-header") Income
                v-ons-input(class="text textWidth" v-model="editJob.income")
                div(class="text-header") Description
                v-ons-input(class="text textWidth" v-model="editJob.description")
                div(class="text-header") City
                v-ons-select(style="width: 75%" v-model="editJob.city")
                  option(v-for="item in cities" :value="item") {{item}}
                div(class="topPadding")
                ons-row(class="textWidth")
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-blue" @click="editJobVisible = false") Cancel
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-yellow" @click="saveChangesJob(editJob.id)") Save Changes

          // EDIT LOGO (opens when user taps LOGO IMAGE)
          v-ons-dialog(cancelable :visible.sync="editLogoVisible")
            div(class="dialogPadding" style="height: 55vh; width: 90vw;")
              div(class="centerDiv")
                div(@click="editLogo()")
                  img(v-bind:src="editImgSrc" height="250vh")
                div.basicSpacing
                v-ons-button(style="width: 40vw" class="button-yellow" @click="saveLogo()") Save Logo

          //  EDIT COMPANY DETAILS WINDOW (opens when user taps EDIT)
          v-ons-dialog(cancelable :visible.sync="editVisible")
            div(class="dialogPadding" style="height: 50vh; width: 90vw;")
              div(class="centerDiv")
                div(class="text-header") Name
                v-ons-input(class="text textWidth" v-model="editEmployer.name")
                div(class="text-header") Address
                v-ons-input(class="text textWidth" v-model="editEmployer.address")
                div(class="text-header") Landline
                v-ons-input(class="text textWidth" v-model="editEmployer.landline")
                div(class="topPadding")
                ons-row(class="textWidth")
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-blue" @click="editVisible = !editVisible") Cancel
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-yellow" @click="saveChanges()") Save Changes

          // Saving Dialog
          v-ons-dialog(:visible.sync="saving")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Saving...

          // Loading Dialog
          v-ons-dialog(:visible.sync="loading")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Loading...


</template>

<script lang='coffee'>
  import firebase from 'firebase'
  import Vue from 'vue'
  export default
    data: ->
      title: 'Jubs Darekt'
      employerData: {}
      profileOpen: false
      newJobVisible: false
      editVisible: false
      editJobVisible: false
      editLogoVisible: false
      loading: false
      saving: false
      imgSrc: require "~/assets/default_profile.jpg"
      editImgSrc: require "~/assets/default_profile.jpg"
      editJob: {}
      jobs: []
      form: {
        name: null
        income: null
        description: null
        city: null
        employerId: null
      }
    computed:
      editEmployer: -> JSON.parse JSON.stringify @employerData
      employer: -> @employerData
      employerId: -> @$route.params.id
      linkToHome: -> "../home/#{@employerId}"
      linkToChats: -> "../chat/#{@employerId}"

      # NUXT CONSTANTS
      cities: -> process.env.city
      fBInit: -> process.env.firebaseInitializer

    created: ->
      if !firebase.apps.length
        firebase.initializeApp(@fbInit)
      @load()

    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      editLogo: ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.PHOTOLIBRARY
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.BACK
            targetWidth: 300
            targetHeight: 400
          }
          Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.editImgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova

      saveLogo: ->
        context = @
        @saving = true
        strg = firebase.storage().ref("company/#{@employerId}/logo.jpg")
        db = firebase.firestore()
        strg.delete()
        await context.getFileObject context.editImgSrc, (obj) ->
          task = strg.put obj
          task.on 'state_changed', (snap) ->
            progress = (snap.bytesTransferred / snap.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch snap.state
              when firebase.storage.TaskState.PAUSED
                console.log "pause"
              when firebase.storage.TaskState.RUNNING
                console.log "running"
          , (error) ->
            console.log error
          , () ->
            console.log "Setting URL..."
            await strg.getDownloadURL().then (url) ->
              await db.collection("employers").doc("#{@employerId}").update({ logo: url })
        @employer.logo = @editImgSrc
        @editImgSrc = ''
        @editLogoVisible = false
        @saving = false

      logOut: ->
        await firebase.auth().signOut()

      deleteJob: (id) ->
        if id
          context = @
          db = firebase.firestore()
          try
            await db.collection("jobs").doc("#{id}").delete().then () ->
              await db.collection("employers").doc("#{@employerId}").update({
                jobs: firebase.firestore.FieldValue.arrayRemove("#{id}")
              })
              context.$ons.notification.alert('Job is deleted.')
            .catch (e) ->
              console.log e
              context.$ons.notification.alert('Unforseen error occured.')
          catch e
            console.log e
          @loadJobListing()

      showEdit: (id) ->
        if id
          @editJob = @jobs.find (item) ->
            if item.id == id
              return item
          if @editJob
            @editJob = JSON.parse JSON.stringify @editJob
            @editJobVisible = true

      saveChangesJob: (id) ->
        if id
          context = @
          db = firebase.firestore()
          if !@editJob.name then @$ons.notification.alert('Name is empty')
          else if !@editJob.income then @$ons.notification.alert('Income is empty')
          else if !@editJob.description then @$ons.notification.alert('Description is empty')
          else if !@editJob.city then @$ons.notification.alert('City is empty')
          else
            try
              await db.collection("jobs").doc("#{id}").update({
                name: context.editJob.name
                income: context.editJob.income
                description: context.editJob.description
              })
            catch e
              console.log e
            @editJobVisible = false
            @editJob = {}
            @loadJobListing()

      addJob: ->
        if !@form.name then @$ons.notification.alert('Name is empty')
        else if !@form.income then @$ons.notification.alert('Income is empty')
        else if !@form.description then @$ons.notification.alert('Description is empty')
        else if !@form.city then @$ons.notification.alert('City is empty')
        else
          @form.employerId = @employerId
          db = firebase.firestore()
          try
            await db.collection("jobs").add({ @form... })
            .then (details) ->
              await db.collection("employers").doc("#{@employerId}").update({
                jobs: firebase.firestore.FieldValue.arrayUnion("#{details.id}")
              })
            @form = {
              name: null
              income: null
              description: null
              employerId: null
            }
          catch e
            console.log e
            @newJobVisible = false
            @loadJobListing()

      loadJobListing: ->
        @jobs = []
        @loading = true
        try
          context = @
          db = firebase.firestore()
          await db.collection("jobs").where("employerId","==","#{@employerId}").get().then (doc) ->
            doc.forEach (doc) ->
              context.jobs.push {
                id: doc.id
                doc.data()...
              }
        catch e
          console.log e
        @loading = false

      saveChanges: ->
        context = @
        if !@editEmployer.name then @$ons.notification.alert('Name is empty')
        else if !@editEmployer.address then @$ons.notification.alert('Address is empty')
        else if !@editEmployer.landline then @$ons.notification.alert('Landline is empty')
        else
          try
            db = firebase.firestore()
            await db.collection("employers").doc("#{@employerId}").update({
              name: context.editEmployer.name
              address: context.editEmployer.address
              landline: context.editEmployer.landline
            })
            @load()
          catch e
            console.log e
          @editVisible = false

      load:  ->
        try
          db = firebase.firestore()
          context = @
          await db.collection("employers").doc("#{@$route.params.id}").get().then (doc) ->
            context.employerData = doc.data()
          .catch (error) ->
            console.log error
          @loadJobListing()
        catch e
          console.log e

</script>

<style lang='stylus' scoped>
  .topPadding
    height 10vh
  .content-swipe
    height 90vh
  .text
    font-size 10px
    &-header
      font-size 12px
      font-weight bold
</style>
