<template lang='pug'>
  div
    v-ons-toolbar(style="background-color: #09cefd;")
      v-ons-toolbar-button(class="centerDiv" icon="ion-navicon, material: md-menu" @tap="profileOpen = !profileOpen")
      div(class="centerDiv" style="padding: 5vw; color: #01647c;") Employer Dashboard
      nuxt-link(:to="linkToJobs" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/job.png" height="25vh")
      nuxt-link(:to="linkToChats" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/chat_bubble.png" height="25vh")

    //- PROFILE & MAIN CONTENT
    v-ons-splitter
      v-ons-splitter-side(width="100vw" collapse="" side="left" :open.sync="profileOpen")
        v-ons-page
          div(class="topPadding")
          div(class="centerDiv content-swipe")
            img(v-bind:src="employer.logo" width="200" @click="editLogoVisible = !editLogoVisible")
            div(class="text-header") Name
            div(class="text") {{employer.name}}
            div(class="text-header") Address
            div(class="text") {{employer.address}}
            div(class="text-header") Landline
            div(class="text") {{employer.landline}}
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                v-ons-button(class="button-blue" @click="editVisible = !editVisible") Edit
              ons-col(class="centerDiv")
                nuxt-link(to="../../" class="button-yellow" tag="v-ons-button" @click.native="logOut()") Log Out

      v-ons-splitter-content
        v-ons-page
          //- FILTER
          v-ons-splitter
            v-ons-splitter-side(width="40%" collapse="" side="right" :open.sync="filterOpen")
              v-ons-page
                div(class="topPadding")
                div(class="centerDiv content-swipe")
                  div(style="width: 100%")
                    v-ons-list
                      v-ons-list-item
                        div(class="text-header") City
                        v-ons-select(style="width: 100%" v-model="filter.city")
                          option(v-for="item in cities" :value="item") {{item}}
                      v-ons-list-item
                        div(class="text-header") Education
                        v-ons-select(style="width: 100%" v-model="filter.education")
                          option(v-for="item in education" :value="item") {{item}}
                      v-ons-list-item
                        div(class="text-header") Gender
                        v-ons-select(style="width: 100%" v-model="filter.gender")
                          option(v-for="item in genders" :value="item") {{item}}
                      v-ons-list-item
                        v-ons-button(@click="clearFilter") Clear
            v-ons-splitter-content
              // CARD
              div(style="height: 92vh; background-color: gray;")
                div(class='centerDiv fullHeight' @click='refresh')
                  template(v-if="!loading")
                    img(src="~/assets/refresh.png" height="75vh")
                    v-ons-card(class='applicant-card' @swipe='onSwipe($event.gesture.direction,applicant.id)' v-for='(applicant, idx) in filteredApplicants' :id='applicant.id')
                      template(v-if="applicant.liked.length > 0")
                        div(style="font-size: 10px") Liked: {{applicant.liked.join(", ")}}
                      div.header-text {{applicant.name}}, {{getAge(applicant.birthday)}}
                      img(v-bind:src="applicant.profile" style='min-height: 150px; min-width: 150px; max-height: 150px; max-width: 150px')
                      div.basicSpacing
                      ons-row
                        ons-col
                          div.text-header City:
                        ons-col
                          div {{applicant.city}}
                      ons-row
                        ons-col
                          div.text-header Gender:
                        ons-col
                          div {{applicant.gender}}
                      ons-row
                        ons-col
                          div.text-header Education:
                        ons-col
                          div {{getHighestAttainedEducation(applicant.educationDetails)}}
                      div {{getCourses(applicant.educationDetails)}}
              // LOWER MENU (dislike, filter, like)
              div(style="height: 8vh; background-color: #f6d624;")
                ons-row
                  ons-col(class="centerDiv" style="background-color: white")
                    img(src="~/assets/thumb_down.png" height="45vh" @tap="onDislike()")
                  ons-col(class="centerDiv")
                    img(src="~/assets/filter.png" height="45vh" @tap="filterOpen = !filterOpen")
                  ons-col(class="centerDiv" style="background-color: white")
                    img(src="~/assets/thumb_up.png" height="45vh" @tap="onLike()")

          // EDIT COMPANY DETAILS WINDOW (opens when user taps EDIT)
          v-ons-dialog(cancelable :visible.sync="editVisible")
            div(class="dialogPadding" style="height: 50vh; width: 90vw;")
              div(class="centerDiv")
                div(class="text-header") Name
                v-ons-input(class="text textWidth" v-model="editEmployer.name")
                div(class="text-header") Address
                v-ons-input(class="text textWidth" v-model="editEmployer.address")
                div(class="text-header") Landline
                v-ons-input(class="text textWidth" v-model="editEmployer.landline")
                div(class="topPadding")
                ons-row(class="textWidth")
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-blue" @click="editVisible = !editVisible") Cancel
                  ons-col(class="centerDiv")
                    v-ons-button(class="button-yellow" @click="saveChanges()") Save Changes

          // EDIT LOGO (opens when user taps LOGO IMAGE)
          v-ons-dialog(cancelable :visible.sync="editLogoVisible")
            div(class="dialogPadding" style="height: 55vh; width: 90vw;")
              div(class="centerDiv")
                div(@click="editLogo()")
                  img(v-bind:src="editImgSrc" height="250vh")
                div.basicSpacing
                v-ons-button(style="width: 40vw" class="button-yellow" @click="saveLogo()") Save Logo

          // CHAT WINDOW (opens when user swipes right)
          v-ons-dialog(cancelable :visible.sync="chatRoomVisible")
            div(class="dialogPadding" style="height: 90vh; width: 90vw;")
              div(class="centerDiv")
                div(class="centerDiv button-blue") Interviewing {{chattingWith}}
                v-ons-list( style="height: 70vh; width: 85vw; background-color: #d3d3d3; overflow-y: auto;")
                  v-ons-list-header
                  v-ons-list-item(v-for="message in room.messages" )
                    template(v-if="room.messages.length > 0")
                      template(v-if="message.owner == 'employer'")
                        div(class="my-message")
                          div {{message.message}}
                      template(v-else)
                        div(class="their-message")
                          div {{message.message}}
                ons-row
                  ons-col(width="85%")
                    v-ons-input(v-model="messageToSend" placeholder="Enter message here...")
                  ons-col
                    v-ons-button(@click="sendMessage()")

          // Saving Dialog
          v-ons-dialog(:visible.sync="saving")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Saving...

          // Loading Dialog
          v-ons-dialog(:visible.sync="loading")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Loading...

</template>

<script lang='coffee'>
  import firebase from 'firebase'
  import jquery from 'jquery'
  import _ from 'lodash'
  import Vue from 'vue'
  import moment from 'moment'
  export default
    data: ->
      title: 'Jubs Darekt'
      loading: false
      employerData: {}
      chattingWith: ''
      room: {}
      jobs: []
      filter: {
        city: '',
        education: '',
        gender: ''
      }
      messageToSend: ''
      unsubscribe: null
      profileOpen: false
      filterOpen: false
      editVisible: false
      saving: false
      chatRoomVisible: false
      editLogoVisible: false
      chatExists: false
      applicants:[]
      imgSrc: require "~/assets/default_profile.jpg"
      editImgSrc: require "~/assets/default_profile.jpg"
      cardImgSrc: ''
      educList: []

    computed:
      editEmployer: -> JSON.parse JSON.stringify @employerData
      employer: -> @employerData
      employerId: -> @$route.params.id
      linkToJobs: -> "../job/#{@employerId}"
      linkToChats: -> "../chat/#{@employerId}"

      filteredApplicants: ->
        context = @
        filtered = JSON.parse JSON.stringify @applicants
        if @filter.city
          filtered = _.filter filtered, { 'city': @filter.city }
        if @filter.education
          filtered = _.filter filtered, (item) -> context.getHighestAttainedEducation(item.educationDetails) == context.filter.education
        if @filter.gender
          filtered = _.filter filtered, { 'gender': @filter.gender }
        filtered

      # NUXT CONSTANTS
      cities: -> process.env.city
      genders: -> process.env.gender
      education: -> process.env.education
      fBInit: -> process.env.firebaseInitializer

    created: ->
      if !firebase.apps.length
        firebase.initializeApp(@fBInit)
      @load()

    methods:
      getCourses: (education) ->
        filtered = (education.filter (e) -> e.type == 'Collegiate')
        if filtered.length > 0
          courses = filtered.map (a) -> a.course
          return "#{courses.join(', ')}"

      getHighestAttainedEducation: (education) ->
        if (education.filter (e) -> e.type == 'Collegiate').length > 0
          return "Collegiate"
        if (education.filter (e) -> e.type == 'Intermediate').length > 0
          return "Intermediate"
        if (education.filter (e) -> e.type == 'Elementary').length > 0
          return "Elementary"

      getAge: (date) ->
        moment().diff(moment(date).format("YYYY"), 'years')

      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      editLogo: ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.PHOTOLIBRARY
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.BACK
            targetWidth: 300
            targetHeight: 400
          }
          Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.editImgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova

      saveLogo: ->
        context = @
        @saving = true
        strg = firebase.storage().ref("company/#{@employerId}/logo.jpg")
        db = firebase.firestore()
        strg.delete()
        await context.getFileObject context.editImgSrc, (obj) ->
          task = strg.put obj
          task.on 'state_changed', (snap) ->
            progress = (snap.bytesTransferred / snap.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch snap.state
              when firebase.storage.TaskState.PAUSED
                console.log "pause"
              when firebase.storage.TaskState.RUNNING
                console.log "running"
          , (error) ->
            console.log error
          , () ->
            console.log "Setting URL..."
            await strg.getDownloadURL().then (url) ->
              await db.collection("employers").doc("#{@employerId}").update({ logo: url })
        @employer.logo = @editImgSrc
        @editImgSrc = ''
        @editLogoVisible = false
        @saving = false

      logOut: ->
        await firebase.auth().signOut()

      clearFilter: ->
        @filter = {
          city: ''
          education: ''
          gender: ''
        }

      onDislike: ->
        if @applicants.length > 0
          @onSwipe('left',@applicants[@applicants.length-1].id)

      onLike: ->
        if @applicants.length > 0
          applicantId = @applicants[@applicants.length-1].id
          @onSwipe('right',applicantId)

      onSwipe: (e,id) ->
        @chatExists = false
        if e is 'left'
          jquery("##{id}").animate {
            left: '-10000px'
            opacity: 0
          }, (callback) =>
            _.remove(@applicants, (applicant) -> applicant.id == id)

        else if e is 'right'
          jquery("##{id}").animate {
            right: '-10000px'
            opacity: 0
          }, (callback) =>
            _.remove(@applicants, (applicant) -> applicant.id == id)
            try
              @unsubscribe
              context = @
              db = firebase.firestore()
              @unsubscribe = await db.collection("chats")
                .where("employerId","==","#{@employerId}")
                .where("applicantId","==","#{id}")
                .get().then (snapshot) ->
                  snapshot.forEach (doc) ->
                    context.chatExists = true
                    context.showChatRoom(doc.id)
              if !@chatExists
                await db.collection("chats").add({
                  applicantId: id
                  employerId: context.employerId
                  messages: []
                }).then (chat) ->
                  context.showChatRoom(chat.id)
            catch e
              console.log e

      refresh: () ->
        @loading = true
        @applicants = []
        context = @
        db = firebase.firestore()
        try
          await db.collection("applicants").get().then (doc) ->
            doc.forEach (doc) ->
                context.applicants.push {
                  id: doc.id
                  liked: []
                  doc.data()...
                  educationDetails: []
                }
          await db.collection("jobs").where("employerId","==","#{@employerId}").get().then (doc) ->
            doc.forEach (doc) ->
              context.jobs.push {
                id: doc.id
                doc.data()...
              }
          await db.collection("education").get().then (doc) ->
            doc.forEach (doc) ->
              context.educList.push {
                id: doc.id
                doc.data()...
              }

          for i in [0...@applicants.length]
            for j in [0...@jobs.length]
              if @applicants[i].jobs.includes("#{@jobs[j].id}")
                @applicants[i].liked.push @jobs[j].name
            for j in [0...@educList.length]
              if @applicants[i].education.includes("#{@educList[j].id}")
                @applicants[i].educationDetails.push @educList[j]

          @jobs = []
          # @applicants.sort (a, b) -> a.liked.length > b.liked.length ? 1 : -1
          @applicants = _.sortBy(@applicants, (item) -> item.liked.length)
        catch e
          console.log e
        @loading = false

      showChatRoom: (id) ->
        try
          @chatId = id
          context = @
          @room = {}
          db = firebase.firestore()
          try
            console.log @chatId
            await db.collection("chats").doc("#{@chatId}").onSnapshot (doc) ->
              console.log doc.data().applicantId
              await db.collection("applicants").doc("#{doc.data().applicantId}").get().then (applicant) ->
                context.chattingWith = applicant.data().name
                context.room = {
                      id: doc.id
                      doc.data()...
                    }
          catch e
            console.log e
        catch e
          console.log e
        @chatRoomVisible = true

      sendMessage: ->
        if !@messageToSend || @messageToSend.length > 0
          msgObj = {
            sent: new Date()
            message: @messageToSend
            owner: "employer"
          }
          db = firebase.firestore()
          try
            await db.collection("chats").doc("#{@chatId}").update({
              messages: firebase.firestore.FieldValue.arrayUnion(msgObj)
            }).catch (e) ->
              console.log e
          catch e
            console.log e
          @messageToSend = ''

      saveChanges: ->
        context = @
        if !@editEmployer.name then @$ons.notification.alert('Name is empty')
        else if !@editEmployer.address then @$ons.notification.alert('Address is empty')
        else if !@editEmployer.landline then @$ons.notification.alert('Landline is empty')
        else
          try
            db = firebase.firestore()
            await db.collection("employers").doc("#{@employerId}").update({
              name: context.editEmployer.name
              address: context.editEmployer.address
              landline: context.editEmployer.landline
            })
            @load()
          catch e
            console.log e
          @editVisible = false

      load: ->
        try
          console.log @cities
          @refresh()
          db = firebase.firestore()
          context = @
          await db.collection("employers").doc("#{@$route.params.id}").get().then (doc) ->
            context.employerData = doc.data()
          .catch (error) ->
            console.log error
        catch e
          console.log e

    # watch:
    #   filterOpen: (val) ->
    #     if !val
    #       console.log "ASDAJOSL"
    #       @refresh()


</script>

<style lang='stylus' scoped>
  .topPadding
    height 10vh
  .content-swipe
    height 90vh
  .text
    font-size 10px
    &-header
      padding 6px
      font-weight bold
  .my-message
    background-color #09cefd
    color #01647c
    width 75%
    padding 5px
    word-wrap break-word
    // text-align right
    margin-left auto
    margin-right 0
  .their-message
    background-color #f6d624
    color #786705
    width 75%
    padding 5px
    word-wrap break-word
    // text-align left
    margin-left 0
    margin-right auto
  .container
    margin 0 auto
    min-height 100vh
    display flex
    justify-content center
    align-items center
    text-align center

  .title
    font-family 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
    display block
    font-weight 300
    font-size 100px
    color #35495e
    letter-spacing 1px

  .subtitle
    font-weight 300
    font-size 42px
    color #526488
    word-spacing 5px
    padding-bottom 15px

  .links
    padding-top 15px

  .card-container
    padding-top 10px
    width: 100vw
    display flex
    justify-content center
    align-items center

  .applicant-card
    display flex
    flex-direction column
    justify-content center
    align-items center
    position absolute
    left 0
    right 0
    margin auto
    width 90%
    min-height 80vh

    &-offset
      left 2
      bottom 2

  .refresh-container
    width 100vw
    min-height 200px
    display flex
    align-items center
    justify-content center

  .fade-enter-active, .fade-leave-active
    transition opacity .5s

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    opacity 0
</style>
