<template lang='pug'>
  div
    v-ons-toolbar(style="background-color: #09cefd;")
      v-ons-toolbar-button(class="centerDiv" icon="ion-navicon, material: md-menu" @click="profileOpen = !profileOpen")
      div(class="centerDiv" style="padding: 5vw; color: #01647c;") Applicant Dashboard
      nuxt-link(:to="linkToChats" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/chat_bubble.png" height="25vh")
      nuxt-link(:to="linkToLikes" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/like.png" height="25vh")


    //- PROFILE & MAIN CONTENT
    v-ons-splitter
      v-ons-splitter-side(width="100vw" collapse="" side="left" :open.sync="profileOpen")
        v-ons-page
          div(class="topPadding")
          div(class="centerDiv content-swipe")
            img(v-bind:src="applicant.profile" width="200" @click="editProfileVisible = !editProfileVisible")
            div(class="text-header") Name
            div(class="text") {{applicant.name}}
            div(class="text-header") Mobile #
            div(class="text") {{applicant.mobileNumber}}
            div(class="text-header") Address
            div(class="text") {{applicant.address}}
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                nuxt-link(:to="linkToEdit" class="button-blue" tag="v-ons-button") Edit
              ons-col(class="centerDiv")
                nuxt-link(to="../../" class="button-yellow" tag="v-ons-button" @click.native="logOut()") Log Out

      v-ons-splitter-content
        v-ons-page
          //- FILTER
          v-ons-splitter
            v-ons-splitter-side(width="40%" collapse="" side="right" :open.sync="filterOpen")
              v-ons-page
                div(class="topPadding")
                div(class="centerDiv content-swipe")
                  div(style="width: 100%")
                    v-ons-list
                      v-ons-list-item
                        div(class="text-header") City
                        v-ons-select(style="width: 100%" v-model="filter.city")
                          option(v-for="item in cities" :value="item") {{item}}
                      v-ons-list-item
                        div(class="text-header") Income
                        v-ons-input(style="width: 100%" v-model="filter.income")
                      v-ons-list-item
                        v-ons-button(@click="clearFilter") Clear
            v-ons-splitter-content
              div(style="height: 92vh; background-color: gray;")
                // CARD
                div(class='centerDiv fullHeight' @click='refresh')
                  template(v-if="!loading")
                    img(src="~/assets/refresh.png" height="75vh")
                    v-ons-card(class='job-card' @swipe='onSwipe($event.gesture.direction,job.id)' v-for='(job, idx) in filteredJobs' :id='job.id')
                      div.text-header {{job.employerName}}
                      img(v-bind:src='job.employerLogo' style='min-height: 150px; min-width: 150px; max-height: 150px; max-width: 150px')
                      div.basicSpacing
                      ons-row
                        ons-col
                          div.text-header Title:
                        ons-col
                          div {{job.name}}
                      ons-row
                        ons-col
                          div.text-header City:
                        ons-col
                          div {{job.city}}
                      ons-row
                        ons-col
                          div.text-header Salary:
                        ons-col
                          div Php {{job.income}}
                      div {{job.description}}
              div(style="height: 8vh; background-color: #f6d624;")
                ons-row
                  ons-col(class="centerDiv" style="background-color: white")
                    img(src="~/assets/thumb_down.png" height="45vh" @tap="onDislike()")
                  ons-col(class="centerDiv")
                    img(src="~/assets/filter.png" height="45vh" @click="filterOpen = !filterOpen")
                  ons-col(class="centerDiv" style="background-color: white")
                    img(src="~/assets/thumb_up.png" height="45vh" @tap="onLike()")

          // EDIT LOGO (opens when user taps LOGO IMAGE)
          v-ons-dialog(cancelable :visible.sync="editProfileVisible")
            div(class="dialogPadding" style="height: 55vh; width: 90vw;")
              div(class="centerDiv")
                div(@click="editProfile()")
                  img(v-bind:src="editImgSrc" height="250vh")
                div.basicSpacing
                v-ons-button(style="width: 40vw" class="button-yellow" @click="saveProfile()") Save Profile

          // Loading Dialog
          v-ons-dialog(:visible.sync="saving")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Saving...

          // Loading Dialog
          v-ons-dialog(:visible.sync="loading")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Loading...
</template>

<script lang='coffee'>
  import firebase from 'firebase'
  import jquery from 'jquery'
  import _ from 'lodash'
  import Vue from 'vue'
  export default
    data: ->
      title: 'Jubs Darekt'
      applicantData: {}
      jobs: []
      filter: {
        city: ''
        income: ''
      }
      loading: false
      profileOpen: false
      filterOpen: false
      editVisible: false
      saving: false
      editProfileVisible: false
      imgSrc: require "~/assets/default_profile.jpg"
      editImgSrc: require "~/assets/default_profile.jpg"

    computed:
      editApplicant: -> JSON.parse JSON.stringify @applicantData
      applicant: -> @applicantData
      applicantId: -> @$route.params.id
      linkToChats: -> "../chat/#{@applicantId}"
      linkToLikes: -> "../like/#{@applicantId}"
      linkToEdit: -> "../edit/#{@applicantId}"

      filteredJobs: ->
        temp = @jobs
        context = @
        filtered = JSON.parse JSON.stringify temp
        if @filter.city
          filtered = _.filter filtered, { 'city': @filter.city }
        if @filter.income
          filtered = _.filter filtered, (item) -> Number item.income <= Number context.filter.income
        filtered

      # NUXT CONSTANTS
      cities: -> process.env.city
      fBInit: -> process.env.firebaseInitializer

    created: ->
      if !firebase.apps.length
        firebase.initializeApp(@fBInit)
      @load()

    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      editProfile: ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.CAMERA
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.BACK
            targetWidth: 300
            targetHeight: 400
          }
          Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.editImgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova

      saveProfile: ->
        context = @
        @saving = true
        strg = firebase.storage().ref("applicant/#{@applicantId}/profile.jpg")
        db = firebase.firestore()
        strg.delete()
        await context.getFileObject context.editImgSrc, (obj) ->
          task = strg.put obj
          task.on 'state_changed', (snap) ->
            progress = (snap.bytesTransferred / snap.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch snap.state
              when firebase.storage.TaskState.PAUSED
                console.log "pause"
              when firebase.storage.TaskState.RUNNING
                console.log "running"
          , (error) ->
            console.log error
          , () ->
            console.log "Setting URL..."
            await strg.getDownloadURL().then (url) ->
              await db.collection("applicants").doc("#{@applicantId}").update({ profile: url })
        @applicant.profile = @editImgSrc
        @editImgSrc = ''
        @editProfileVisible = false
        @saving = false

      logOut: ->
        await firebase.auth().signOut()

      clearFilter: ->
        @filter = {
          city: ''
          income: ''
        }

      onDislike: ->
        if @jobs.length > 0
          @onSwipe('left', @jobs[@jobs.length-1].id)

      onLike: ->
        if @jobs.length > 0
          @onSwipe('right', @jobs[@jobs.length-1].id)

      onSwipe: (e,id) ->
        if e is 'left'
          jquery("##{id}").animate {
            left: '-10000px'
            opacity: 0
          }, (callback) =>
            _.remove(@jobs, (job) -> job.id == id)
        else if e is 'right'
          db = firebase.firestore()
          try
            await db.collection("applicants").doc("#{@applicantId}").update({
              jobs: firebase.firestore.FieldValue.arrayUnion("#{id}")
            }).catch (e) ->
              console.log e
          catch e
            console.log e
          jquery("##{id}").animate {
            right: '-10000px'
            opacity: 0
          }, (callback) =>
            _.remove(@jobs, (job) -> job.id == id)

      refresh: () ->
        context = @
        @loading = true
        @jobs = []
        db = firebase.firestore()
        try
          temp = []
          await db.collection("jobs").get().then (doc) ->
            doc.forEach (doc) ->
              context.jobs.push {
                id: doc.id
                doc.data()...
                employerLogo: ''
                employerName: ''
              }
          @jobs.forEach (job, idx) ->
            await db.collection("employers").doc("#{job.employerId}").get().then (employer) ->
              context.jobs[idx].employerName = employer.data().name
              context.jobs[idx].employerLogo = employer.data().logo

          @applicant.jobs.forEach (id) ->
            _.remove context.jobs, { 'id': id }
        catch e
          console.log e
        finally
          @loading = false

      load: () ->
        try
          db = firebase.firestore()
          context = @
          await db.collection("applicants").doc("#{@$route.params.id}").get().then (doc) ->
            context.applicantData = doc.data()
          .catch (error) ->
            console.log error
          @refresh()
        catch e
          console.log e

</script>

<style lang='stylus' scoped>
  .topPadding
    height 10vh
  .content-swipe
    height 90vh
  .text
    font-size 10px
    &-header
      padding 6px
      font-weight bold

  .container
    margin 0 auto
    min-height 100vh
    display flex
    justify-content center
    align-items center
    text-align center

  .title
    font-family 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
    display block
    font-weight 300
    font-size 100px
    color #35495e
    letter-spacing 1px

  .subtitle
    font-weight 300
    font-size 42px
    color #526488
    word-spacing 5px
    padding-bottom 15px

  .links
    padding-top 15px

  .card-container
    padding-top 10px
    width: 100vw
    display flex
    justify-content center
    align-items center

  .job-card
    display flex
    flex-direction column
    justify-content center
    align-items center
    position absolute
    left 0
    right 0
    margin auto
    width 90%
    min-height 50vh

    &-offset
      left 2
      bottom 2

  .refresh-container
    width 100vw
    min-height 200px
    display flex
    align-items center
    justify-content center

  .fade-enter-active, .fade-leave-active
    transition opacity .5s

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    opacity 0
</style>
