<template lang='pug'>
  v-ons-page
    v-ons-toolbar(style="background-color: #09cefd;")
      v-ons-toolbar-button(class="centerDiv" icon="ion-navicon, material: md-menu" @click="profileOpen = !profileOpen")
      div(class="centerDiv" style="padding: 5vw; color: #01647c;") Applicant Dashboard
      nuxt-link(:to="linkToChats" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/chat_bubble.png" height="25vh")
      nuxt-link(:to="linkToLikes" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/like.png" height="25vh")


      //- div(class="centerDiv" style="color: #01647c; width: 33%;" @click="pageControl(0)") <<
      //- div(class="centerDiv" style="color: #01647c; width: 34%;") {{page}}
      //- div(class="centerDiv" style="color: #01647c; width: 33%;" @click="pageControl(1)") >>
    v-ons-splitter
      v-ons-splitter-side(width="100vw" collapse="" side="left" :open.sync="profileOpen")
        v-ons-page
          div(class="centerDiv content-swipe")
            img(v-bind:src="applicant.profile" width="200" @click="editProfileVisible = !editProfileVisible")
            div(class="text-header") Name
            div(class="text") {{applicant.name}}
            div(class="text-header") Mobile #
            div(class="text") {{applicant.mobileNumber}}
            div(class="text-header") Address
            div(class="text") {{applicant.address}}
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                nuxt-link(:to="linkToHome" class="button-blue" tag="v-ons-button" ds) Home
              ons-col(class="centerDiv")
                nuxt-link(to="../../" class="button-yellow" tag="v-ons-button" @click.native="logOut()") Log Out

      v-ons-splitter-content
        v-ons-page
          v-ons-carousel(fullscreen swipeable auto-scroll overscrollable :index.sync="tabIndex")
            // Personal
            v-ons-carousel-item
              div(class="fullHeight centerDiv" style="background-color: white;")
                v-ons-input(class="basicSpacing textWidth" placeholder="Full Name" float v-model="form.name")
                v-ons-input(class="basicSpacing textWidth" placeholder="Mobile #" float v-model="form.mobileNumber")
                ons-row.textWidth
                  ons-col(width="25%")
                    div Birthday
                  ons-col(width="75%")
                    v-ons-input(class="basicSpacing" type="date" v-model="form.birthday")
                v-ons-input(class="basicSpacing textWidth" placeholder="Address" float v-model="form.address")
                v-ons-input(class="basicSpacing textWidth" placeholder="Gender" float v-model="form.gender")
                ons-row.textWidth
                  ons-col(width="25%")
                    div Preferred City
                  ons-col(width="75%")
                    v-ons-select(class="basicSpacing" style="width: 100%" v-model="form.city")
                      option(v-for="item in cities" :value="item") {{item}}
                v-ons-button(style="width: 40vw" class="button-yellow" @click="onSubmit()") Submit
            // Education
            v-ons-carousel-item
              div.centerDiv
                v-ons-button(class="button-blue" style="margin: 10px; width: 90vw;" @click="addEducationDetailVisible = true") Add Education Detail
              div(class="fullHeight" style="background-color: white; width: 100vw;")
                v-ons-list(style="overflow-y: auto; height: 80vh;")
                  v-ons-list-header
                  v-ons-list-item(v-for="education in educationList")
                    ons-row
                      ons-col(width="75%")
                        ons-row
                          ons-col(class="text-header" width="45%") Type:
                          ons-col(class="text") {{education.type}}
                        ons-row
                          ons-col(class="text-header" width="45%") School Name:
                          ons-col(class="text") {{education.name}}
                        div(class="text-header") Period:
                        ons-row
                          ons-col(class="text") {{education.from}}
                          ons-col(class="text") {{education.to}}
                        div(class="text-header") Course/s:
                        div(class="centerDiv text") {{education.course || 'n/A'}}
                      ons-col
                        ons-row
                          v-ons-button.button-yellow(@click="deleteEduc(education.id)") X
                          div.basicSpacing
                        ons-row
                          v-ons-button.button-yellow(@click="showEditEduc(education.id)") Edit
            // Professional
            v-ons-carousel-item
              div.centerDiv
                v-ons-button(class="button-blue" style="margin: 10px; width: 90vw;" @click="addProfessionDetailVisible = true") Add Professional Detail
              div(class="fullHeight" style="background-color: white;")
                v-ons-list(style="overflow-y: auto; height: 80vh;")
                  v-ons-list-header
                  v-ons-list-item(v-for="professional in professionalList")
                    ons-row
                      ons-col(width="75%")
                        ons-row
                          ons-col(class="text-header" width="45%") Job Title:
                          ons-col(class="text") {{professional.job}}
                        ons-row
                          ons-col(class="text-header" width="45%") Company:
                          ons-col(class="text") {{professional.company}}
                        div(class="text-header") Period:
                        ons-row
                          ons-col(class="text") {{professional.from}}
                          ons-col(class="text") {{professional.to}}
                      ons-col
                        ons-row
                          v-ons-button.button-yellow(@click="deleteProf(professional.id)") X
                          div.basicSpacing
                        ons-row
                          v-ons-button.button-yellow(@click="showEditProf(professional.id)") Edit

            // Add Education Dialog
            v-ons-dialog(cancelable :visible.sync="addEducationDetailVisible")
              div(class="dialogPadding" style="height: 50vh; width: 90vw;")
                div(class="centerDiv") Add Detail
                  v-ons-select(class="basicSpacing textWidth" v-model="educationDetail.type")
                    option(v-for="item in education" :value="item") {{item}}
                  v-ons-input(class="basicSpacing textWidth" placeholder="School Name" float v-model="educationDetail.name")
                  div(class="centerBar")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="From" float v-model="educationDetail.from")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="To" float v-model="educationDetail.to")
                  template(v-if="educationDetail.type == 'Collegiate'")
                    v-ons-input(class="basicSpacing textWidth" placeholder="Course" float v-model="educationDetail.course")
                  div(class="topPadding")
                  ons-row(class="textWidth")
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-blue" @click="addEducationDetailVisible = false") Cancel
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-yellow" @click="addEducDetail()") Add Detail

            // Edit Education Dialog
            v-ons-dialog(cancelable :visible.sync="editEducationDetailVisible")
              div(class="dialogPadding" style="height: 50vh; width: 90vw;")
                div(class="centerDiv") Edit Detail
                  v-ons-select(class="basicSpacing textWidth" v-model="editEduc.type")
                    option(v-for="item in education" :value="item") {{item}}
                  v-ons-input(class="basicSpacing textWidth" placeholder="School Name" float v-model="editEduc.name")
                  div(class="centerBar")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="From" float v-model="editEduc.from")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="To" float v-model="editEduc.to")
                  template(v-if="educationDetail.type == 'Collegiate'")
                    v-ons-input(class="basicSpacing textWidth" placeholder="Course" float v-model="editEduc.course")
                  div(class="topPadding")
                  ons-row(class="textWidth")
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-blue" @click="editEducationDetailVisible = false") Cancel
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-yellow" @click="saveChangesEduc(editEduc.id)") Save Changes

            // Add Profession Dialog
            v-ons-dialog(cancelable :visible.sync="addProfessionDetailVisible")
              div(class="dialogPadding" style="height: 50vh; width: 90vw;")
                div(class="centerDiv") Add Detail
                  v-ons-input(class="basicSpacing textWidth" placeholder="Job Title" float v-model="professionalDetail.job")
                  v-ons-input(class="basicSpacing textWidth" placeholder="Company" float v-model="professionalDetail.company")
                  div(class="centerBar")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="From" float v-model="professionalDetail.from")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="To" float v-model="professionalDetail.to")
                  div(class="topPadding")
                  ons-row(class="textWidth")
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-blue" @click="addProfessionDetailVisible = false") Cancel
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-yellow" @click="addProfDetail()") Add Detail

            // Edit Profession Dialog
            v-ons-dialog(cancelable :visible.sync="editProfessionDetailVisible")
              div(class="dialogPadding" style="height: 50vh; width: 90vw;")
                div(class="centerDiv") Edit Detail
                  v-ons-input(class="basicSpacing textWidth" placeholder="Job Title" float v-model="editProf.job")
                  v-ons-input(class="basicSpacing textWidth" placeholder="Company" float v-model="editProf.company")
                  div(class="centerBar")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="From" float v-model="editProf.from")
                    v-ons-input(class="basicSpacing textWidth" style="width: 50%;" placeholder="To" float v-model="editProf.to")
                  div(class="topPadding")
                  ons-row(class="textWidth")
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-blue" @click="editProfessionDetailVisible = false") Cancel
                    ons-col(class="centerDiv")
                      v-ons-button(class="button-yellow" @click="saveChangesProf(editProf.id)") Edit Detail

            // Saving Dialog
            v-ons-dialog(:visible.sync="saving")
              div(class="dialogPadding" style="width: 90vw;")
                div(class="centerDiv") Saving...

            // Loading Dialog
            v-ons-dialog(:visible.sync="loading")
              div(class="dialogPadding" style="width: 90vw;")
                div(class="centerDiv") Loading...

</template>

<script lang='coffee'>
  import firebase from 'firebase'
  import moment from 'moment'
  export default
    created: ->
      if !firebase.apps.length
        firebase.initializeApp(@fBInit)
      await @load()
      @form = JSON.parse JSON.stringify @applicantData
    data: ->
      title: "Jubs Darekt"
      applicantData: {}
      # {name, mobileNumber, birthday, address, city, gender, education[educationDetail], professional[professionalDetail]}
      form: {}
      # {type, name, from, to, course}
      educationDetail: {}
      # {job, company, from, to}
      professionalDetail: {}
      loading: false
      saving: false
      educationList: []
      professionalList: []
      addProfessionDetailVisible: false
      addEducationDetailVisible: false
      editProfessionDetailVisible: false
      editEducationDetailVisible: false
      profileOpen: false
      tabIndex: 0
      editEduc: {}
      editProf: {}
      labels: ["Personal", "Education", "Professional" ]
    computed:
      page: -> @labels[@tabIndex]
      # editApplicant: -> JSON.parse JSON.stringify @applicantData
      applicant: -> @applicantData
      applicantId: -> @$route.params.id
      linkToChats: -> "../chat/#{@applicantId}"
      linkToLikes: -> "../like/#{@applicantId}"
      linkToHome: -> "../home/#{@applicantId}"
      # NUXT CONSTANT #
      cities: -> process.env.city
      education: -> process.env.education

    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      saveProfile: ->
        context = @
        @saving = true
        strg = firebase.storage().ref("applicant/#{@applicantId}/profile.jpg")
        db = firebase.firestore()
        strg.delete()
        await context.getFileObject context.editImgSrc, (obj) ->
          task = strg.put obj
          task.on 'state_changed', (snap) ->
            progress = (snap.bytesTransferred / snap.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch snap.state
              when firebase.storage.TaskState.PAUSED
                console.log "pause"
              when firebase.storage.TaskState.RUNNING
                console.log "running"
          , (error) ->
            console.log error
          , () ->
            console.log "Setting URL..."
            await strg.getDownloadURL().then (url) ->
              await db.collection("applicants").doc("#{@applicantId}").update({ profile: url })
        @applicant.profile = @editImgSrc
        @editImgSrc = ''
        @editProfileVisible = false
        @saving = false

      load: ->
        try
          @loading = true
          db = firebase.firestore()
          context = @
          await db.collection("applicants").doc("#{@$route.params.id}").get().then (doc) ->
            context.applicantData = doc.data()
          .catch (error) ->
            console.log error
          @loadEducListing()
          @loadProfListing()
        catch e
          console.log e
        @loading = false

      addEducDetail: ->
        context = @
        db = firebase.firestore()
        @educationDetail.applicantId = @applicantId
        if !@educationDetail.type then @$ons.notification.alert('Type is empty')
        else if !@educationDetail.name then @$ons.notification.alert('Name is empty')
        else if !@educationDetail.from then @$ons.notification.alert('From is empty')
        else if !@educationDetail.to then @$ons.notification.alert('To is empty')
        else if @educationDetail.type == "Collegiate"
          if !@educationDetail.course then @$ons.notification.alert('Course is empty')
        else
          try
            await db.collection("education").add({ @educationDetail... })
            .then (details) ->
              await db.collection("applicants").doc("#{context.applicantId}").update({
                education: firebase.firestore.FieldValue.arrayUnion("#{details.id}")
              })
          catch e
            console.log e
          @addEducationDetailVisible = false
          # items inside DETAIL must be initialized.
          # {type, name, from, to, course}
          @educationDetail = {
            type: ''
            name: ''
            from: ''
            to: ''
            course: ''
          }
          @loadEducListing()

      addProfDetail: ->
        context = @
        db = firebase.firestore()
        @professionalDetail.applicantId = @applicantId
        if !@professionalDetail.job then @$ons.notification.alert('Job is empty')
        else if !@professionalDetail.company then @$ons.notification.alert('Company is empty')
        else if !@professionalDetail.from then @$ons.notification.alert('From is empty')
        else if !@professionalDetail.to then @$ons.notification.alert('To is empty')
        else
          try
            await db.collection("professional").add({ @professionalDetail... })
            .then (details) ->
              await db.collection("applicants").doc("#{context.applicantId}").update({
                professional: firebase.firestore.FieldValue.arrayUnion("#{details.id}")
              })
          catch e
            console.log e
          @addProfessionDetailVisible = false
          # items inside DETAIL must be initialized.
          # {job, company, from, to}
          @professionalDetail = {
            job: ''
            company: ''
            from: ''
            to: ''
          }
          @loadProfListing()

      showEditEduc: (id) ->
        if id
          @editEduc = @educationList.find (item) ->
            if item.id == id
              return item
          if @editEduc
            @editEduc = JSON.parse JSON.stringify @editEduc
            @editEducationDetailVisible = true

      showEditProf: (id) ->
        if id
          @editProf = @professionalList.find (item) ->
            if item.id == id
              return item
          if @editProf
            @editProf = JSON.parse JSON.stringify @editProf
            @editProfessionDetailVisible = true

      saveChangesEduc: (id) ->
        if id
          context = @
          db = firebase.firestore()
          if !@editEduc.type then @$ons.notification.alert('Type is empty')
          else if !@editEduc.name then @$ons.notification.alert('Name is empty')
          else if !@editEduc.from then @$ons.notification.alert('From is empty')
          else if !@editEduc.to then @$ons.notification.alert('To is empty')
          else if @editEduc.type == "Collegiate"
            if !@editEduc.course then @$ons.notification.alert('Course is empty')
          else
            try
              await db.collection("education").doc("#{id}").update({
                type: context.editEduc.type
                name: context.editEduc.name
                from: context.editEduc.from
                to: context.editEduc.to
                course: context.editEduc.course || ''
              })
            catch e
              console.log e
            @editEducationDetailVisible = false
            @editEduc = {}
            @loadEducListing()

      saveChangesProf: (id) ->
        if id
          context = @
          db = firebase.firestore()
          if !@editProf.job then @$ons.notification.alert('Job is empty')
          else if !@editProf.company then @$ons.notification.alert('Company is empty')
          else if !@editProf.from then @$ons.notification.alert('From is empty')
          else if !@editProf.to then @$ons.notification.alert('To is empty')
          else
            try
              await db.collection("professional").doc("#{id}").update({
                job: context.editProf.job
                company: context.editProf.company
                from: context.editProf.from
                to: context.editProf.to
              })
            catch e
              console.log e
            @editProfessionDetailVisible = false
            @editProf = {}
            @loadProfListing()

      deleteEduc: (id) ->
        if id
          context = @
          db = firebase.firestore()
          try
            await db.collection("education").doc("#{id}").delete().then () ->
              await db.collection("applicants").doc("#{context.applicantId}").update({
                education: firebase.firestore.FieldValue.arrayRemove("#{id}")
              })
              context.$ons.notification.alert('Detail is deleted.')
            .catch (e) ->
              console.log e
              context.$ons.notification.alert('Unforseen error occured.')
          catch e
            console.log e
          @loadEducListing()

      deleteProf: (id) ->
        if id
          context = @
          db = firebase.firestore()
          try
            await db.collection("professional").doc("#{id}").delete().then () ->
              await db.collection("applicants").doc("#{context.applicantId}").update({
                professional: firebase.firestore.FieldValue.arrayRemove("#{id}")
              })
              context.$ons.notification.alert('Detail is deleted.')
            .catch (e) ->
              console.log e
              context.$ons.notification.alert('Unforseen error occured.')
          catch e
            console.log e
          @loadProfListing()

      loadEducListing: ->
        @educationList = []
        try
          context = @
          db = firebase.firestore()
          await db.collection("education").where("applicantId","==","#{@applicantId}").get().then (doc) ->
            doc.forEach (doc) ->
              context.educationList.push {
                id: doc.id
                doc.data()...
              }
        catch e
          console.log e

      loadProfListing: ->
        @professionalList = []
        try
          context = @
          db = firebase.firestore()
          await db.collection("professional").where("applicantId","==","#{@applicantId}").get().then (doc) ->
            doc.forEach (doc) ->
              context.professionalList.push {
                id: doc.id
                doc.data()...
              }
        catch e
          console.log e

      pageControl: (e) ->
        switch e
          when 0
            if @tabIndex != 0
              @tabIndex = @tabIndex - 1
          when 1
            if @tabIndex != 2
              @tabIndex = @tabIndex + 1

      onSubmit: ->
        @saving = true
        context = @

        if !@form.name then @$ons.notification.alert('Name is empty')
        else if !@form.mobileNumber then @$ons.notification.alert('Mobile Number is empty')
        else if !@form.birthday then @$ons.notification.alert('Birthday is empty')
        else if !@form.address then @$ons.notification.alert('Address is empty')
        else if !@form.city then @$ons.notification.alert('City is empty')
        else if !@form.gender then @$ons.notification.alert('Gender is empty')
        else
          try
            db = firebase.firestore()
            await db.collection("applicants").doc("#{@applicantId}").update({
              context.form...
            })
          catch e
            console.log e
        @saving = false
        # @$ons.notification.alert('Success.')
        # @$router.push "/applicantPages/home/#{@applicantId}"


</script>

<style lang="stylus" scoped>
  .centerBar
    display flex
    align-items center
    justify-content center
    flex-direction row
  .topPadding
    height 10vh
  .content-swipe
    height 90vh
  .text
    font-size 10px
    &-header
      font-size 12px
      font-weight bold
</style>
