<template lang='pug'>
  div
    v-ons-toolbar(style="background-color: #09cefd;")
      v-ons-toolbar-button(class="centerDiv" icon="ion-navicon, material: md-menu" @click="profileOpen = !profileOpen")
      div(class="centerDiv" style="padding: 5vw; color: #01647c;") Applicant Dashboard
      nuxt-link(:to="linkToChats" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/chat_bubble.png" height="25vh")
      nuxt-link(:to="linkToHome" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/like_active.png" height="25vh")


    //- PROFILE & MAIN CONTENT
    v-ons-splitter
      v-ons-splitter-side(width="100vw" collapse="" side="left" :open.sync="profileOpen")
        v-ons-page
          div(class="topPadding")
          div(class="centerDiv content-swipe")
            img(v-bind:src="applicant.profile" width="200" @click="editProfileVisible = !editProfileVisible")
            div(class="text-header") Name
            div(class="text") {{applicant.name}}
            div(class="text-header") Mobile #
            div(class="text") {{applicant.mobileNumber}}
            div(class="text-header") Address
            div(class="text") {{applicant.address}}
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                nuxt-link(:to="linkToEdit" class="button-blue" tag="v-ons-button") Edit
              ons-col(class="centerDiv")
                nuxt-link(to="../../" class="button-yellow" tag="v-ons-button" @click.native="logOut()") Log Out

      v-ons-splitter-content
        v-ons-page
          div(class="topPadding")
          v-ons-list
            v-ons-list-header
            v-ons-list-item(v-for="job in likedJobs" style="width: 95%;")
              div(style="width: 90vw")
                ons-row
                  ons-col(width="75%")
                    ons-row
                      ons-col(class="text-header" width="25%") Job:
                      ons-col(class="text") {{job.name}}
                    ons-row
                      ons-col(class="text-header" width="25%") Income:
                      ons-col(class="text") {{job.income}}
                  ons-col
                    v-ons-button(class="centerDiv button-yellow" @click="deleteLike(job.id)")
                      img(src="~/assets/delete.png" width="30vh" height="30vh")

          // EDIT LOGO (opens when user taps LOGO IMAGE)
          v-ons-dialog(cancelable :visible.sync="editProfileVisible")
            div(class="dialogPadding" style="height: 55vh; width: 90vw;")
              div(class="centerDiv")
                div(@click="editProfile()")
                  img(v-bind:src="editImgSrc" height="250vh")
                div.basicSpacing
                v-ons-button(style="width: 40vw" class="button-yellow" @click="saveProfile()") Save Profile

          // Saving Dialog
          v-ons-dialog(:visible.sync="saving")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Saving...

          // Loading Dialog
          v-ons-dialog(:visible.sync="loading")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Loading...
</template>

<script lang='coffee'>
  import firebase from 'firebase'
  import _ from 'lodash'
  import Vue from 'vue'
  export default
    data: ->
      title: 'Jubs Darekt'
      applicantData: {}
      jobs: []
      filter: {
        city: ''
        income: ''
      }
      profileOpen: false
      filterOpen: false
      editVisible: false
      editProfileVisible: false
      loading: false
      saving: false
      imgSrc: require "~/assets/default_profile.jpg"
      editImgSrc: require "~/assets/default_profile.jpg"
      likedJobs: []

    computed:
      applicant: -> @applicantData
      applicantId: -> @$route.params.id
      editApplicant: -> JSON.parse JSON.stringify @applicantData

      linkToChats: -> "../chat/#{@applicantId}"
      linkToHome: -> "../home/#{@applicantId}"
      linkToEdit: -> "../edit/#{@applicantId}"

      # NUXT CONSTANTS
      fBInit: -> process.env.firebaseInitializer

    created: ->
      if !firebase.apps.length
        firebase.initializeApp(@fBInit)
      @load()

    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      editProfile: ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.CAMERA
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.BACK
            targetWidth: 300
            targetHeight: 400
          }
          Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.editImgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova

      saveProfile: ->
        context = @
        @saving = true
        strg = firebase.storage().ref("applicant/#{@applicantId}/profile.jpg")
        db = firebase.firestore()
        strg.delete()
        await context.getFileObject context.editImgSrc, (obj) ->
          task = strg.put obj
          task.on 'state_changed', (snap) ->
            progress = (snap.bytesTransferred / snap.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch snap.state
              when firebase.storage.TaskState.PAUSED
                console.log "pause"
              when firebase.storage.TaskState.RUNNING
                console.log "running"
          , (error) ->
            console.log error
          , () ->
            console.log "Setting URL..."
            await strg.getDownloadURL().then (url) ->
              await db.collection("applicants").doc("#{@applicantId}").update({ profile: url })
        @applicant.profile = @editImgSrc
        @editImgSrc = ''
        @editProfileVisible = false
        @saving = false

      logOut: ->
        await firebase.auth().signOut()

      deleteLike: (id) ->
        db = firebase.firestore()
        try
          await db.collection("applicants").doc("#{@applicantId}").update({
            jobs: firebase.firestore.FieldValue.arrayRemove("#{id}")
          }).catch (e) ->
            console.log e
        catch e
          console.log e
        @load()

      refresh: ->
        console.log "CALLED"
        @loading = true
        @likedJobs = []
        context = @
        db = firebase.firestore()
        try
          await db.collection("jobs").get().then (doc) ->
            doc.forEach (doc) ->
              if context.applicant.jobs.includes doc.id
                context.likedJobs.push {
                  id: doc.id
                  doc.data()...
                }
        catch e
          console.log e
        @loading = false

      load: () ->
        try
          @likedJobs = []
          db = firebase.firestore()
          context = @
          await db.collection("applicants").doc("#{@$route.params.id}").get().then (doc) ->
            context.applicantData = doc.data()
          .catch (error) ->
            console.log error
          @refresh()
        catch e
          console.log e

</script>

<style lang='stylus' scoped>
  .topPadding
    height 10vh
  .content-swipe
    height 90vh
  .text
    font-size 10px
    &-header
      padding 6px
      font-weight bold

  .container
    margin 0 auto
    min-height 100vh
    display flex
    justify-content center
    align-items center
    text-align center

  .title
    font-family 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
    display block
    font-weight 300
    font-size 100px
    color #35495e
    letter-spacing 1px

  .subtitle
    font-weight 300
    font-size 42px
    color #526488
    word-spacing 5px
    padding-bottom 15px

  .links
    padding-top 15px

  .card-container
    padding-top 10px
    width: 100vw
    display flex
    justify-content center
    align-items center

  .job-card
    display flex
    flex-direction column
    justify-content center
    align-items center
    position absolute
    left 0
    right 0
    margin auto
    width 90%
    min-height 200px

    &-offset
      left 2
      bottom 2

  .refresh-container
    width 100vw
    min-height 200px
    display flex
    align-items center
    justify-content center

  .fade-enter-active, .fade-leave-active
    transition opacity .5s

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    opacity 0
</style>
