<template lang="pug">
  div
    v-ons-toolbar(style="background-color: #09cefd;")
      v-ons-toolbar-button(class="centerDiv" icon="ion-navicon, material: md-menu" @click="profileOpen = !profileOpen")
      div(class="centerDiv" style="padding: 5vw; color: #01647c;") Applicant Dashboard
      nuxt-link(:to="linkToHome" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/chat_bubble_active.png" height="25vh")
      nuxt-link(:to="linkToLikes" class="centerDiv right list-item__right" tag="v-ons-toolbar-button")
        img(src="~/assets/like.png" height="25vh")


    //- PROFILE & MAIN CONTENT
    v-ons-splitter
      v-ons-splitter-side(width="100vw" collapse="" side="left" :open.sync="profileOpen")
        v-ons-page
          div(class="topPadding")
          div(class="centerDiv content-swipe")
            img(v-bind:src="applicant.profile" width="200" @click="editProfileVisible = !editProfileVisible")
            div(class="text-header") Name
            div(class="text") {{applicant.name}}
            div(class="text-header") Mobile #
            div(class="text") {{applicant.mobileNumber}}
            div(class="text-header") Address
            div(class="text") {{applicant.address}}
            div(class="topPadding")
            ons-row(class="textWidth")
              ons-col(class="centerDiv")
                nuxt-link(:to="linkToEdit" class="button-blue" tag="v-ons-button") Edit
              ons-col(class="centerDiv")
                nuxt-link(to="../../" class="button-yellow" tag="v-ons-button" @click.native="logOut()") Log Out

      v-ons-splitter-content
        v-ons-page
          div(class="topPadding")
          v-ons-list
            v-ons-list-header
            v-ons-list-item(v-for="chat in chats")
              div(style="width: 90vw" @click="showChatRoom(chat.id)")
                ons-row
                  ons-col( width="15%")
                    img(v-bind:src="chat.logo" height="40vh")
                  ons-col
                    ons-row
                      ons-col(class="text-header" width="25%") Company:
                      ons-col(class="text") {{chat.name}}
                    ons-row
                      template(v-if="chat.messages.length > 0")
                        template(v-if="chat.messages[chat.messages.length - 1].owner == 'applicant'")
                          ons-col(class="text") You: {{chat.messages[chat.messages.length - 1].message}}
                        template(v-else)
                          ons-col(class="text") Interviewer: {{chat.messages[chat.messages.length - 1].message}}

          v-ons-dialog(cancelable :visible.sync="chatRoomVisible")
            div(class="dialogPadding" style="height: 90vh; width: 90vw;")
              div(class="centerDiv")
                div(class="centerDiv button-yellow") Interviewed by {{chattingWith}}
                v-ons-list(style="height: 70vh; width: 85vw; background-color: #d3d3d3; overflow-y: auto;")
                  v-ons-list-header
                  v-ons-list-item(v-for="message in room.messages" style="width: 95%;")
                    template(v-if="room.messages.length > 0")
                      template(v-if="message.owner == 'applicant'")
                        div(class="my-message")
                          div {{message.message}}
                      template(v-else)
                        div(class="their-message")
                          div {{message.message}}
                ons-row
                  ons-col(width="85%")
                    v-ons-input(v-model="messageToSend" placeholder="Enter message here...")
                  ons-col
                    v-ons-button(@click="sendMessage()")

          // EDIT LOGO (opens when user taps LOGO IMAGE)
          v-ons-dialog(cancelable :visible.sync="editProfileVisible")
            div(class="dialogPadding" style="height: 55vh; width: 90vw;")
              div(class="centerDiv")
                div(@click="editProfile()")
                  img(v-bind:src="editImgSrc" height="250vh")
                div.basicSpacing
                v-ons-button(style="width: 40vw" class="button-yellow" @click="saveProfile()") Save Profile

          // Saving Dialog
          v-ons-dialog(:visible.sync="saving")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Saving...

          // Loading Dialog
          v-ons-dialog(:visible.sync="loading")
            div(class="dialogPadding" style="width: 90vw;")
              div(class="centerDiv") Loading...
</template>

<script lang="coffee">
  import firebase from 'firebase'
  import Vue from 'vue'
  export default
    data: ->
      title: "Jubs Darekt"
      applicantData: {}
      profileOpen: false
      chatId: null
      loading: false
      chatLoading: false
      messageToSend: ''
      room: {}
      chats: []
      chattingWith: ''
      editVisible: false
      unsubscribe: null
      saving: false
      editProfileVisible: false
      imgSrc: require "~/assets/default_profile.jpg"
      editImgSrc: require "~/assets/default_profile.jpg"

    computed:
      editApplicant: -> JSON.parse JSON.stringify @applicantData
      applicant: -> @applicantData
      applicantId: -> @$route.params.id
      linkToLikes: -> "../like/#{@applicantId}"
      linkToHome: -> "../home/#{@applicantId}"
      linkToEdit: -> "../edit/#{@applicantId}"

      # NUXT CONSTANTS
      fBInit: -> process.env.firebaseInitializer

    created: ->
      if !firebase.apps.length
        firebase.initializeApp(@fBInit)
      @load()

    methods:
      getFileBlob: (url, cb) ->
        xhr = new XMLHttpRequest()
        xhr.open "GET", url
        xhr.responseType = "blob"
        xhr.addEventListener 'load', () ->
          cb(xhr.response)
        xhr.send()

      getFileObject: (filePathOrUrl, cb) ->
        @getFileBlob filePathOrUrl, (blob) ->
          cb(blob)

      editProfile: ->
        if Vue.cordova.camera
          context = @
          options = {
            quality: 80
            destinationType: Vue.cordova.camera.DestinationType.FILE_URI
            sourceType: Vue.cordova.camera.PictureSourceType.CAMERA
            mediaType: Vue.cordova.camera.MediaType.PICTURE
            encodingType: Vue.cordova.camera.EncodingType.JPEG
            cameraDirection: Vue.cordova.camera.Direction.BACK
            targetWidth: 300
            targetHeight: 400
          }
          Vue.cordova.camera.getPicture (img) ->
            console.log img
            context.editImgSrc = img
          ,(msg) ->
            console.log msg
          ,options
        else
          console.log "Camera not found"
          console.log Vue.cordova

      saveProfile: ->
        context = @
        @saving = true
        strg = firebase.storage().ref("applicant/#{@applicantId}/profile.jpg")
        db = firebase.firestore()
        strg.delete()
        await context.getFileObject context.editImgSrc, (obj) ->
          task = strg.put obj
          task.on 'state_changed', (snap) ->
            progress = (snap.bytesTransferred / snap.totalBytes) * 100
            console.log('Upload is ' + progress + '% done')
            switch snap.state
              when firebase.storage.TaskState.PAUSED
                console.log "pause"
              when firebase.storage.TaskState.RUNNING
                console.log "running"
          , (error) ->
            console.log error
          , () ->
            console.log "Setting URL..."
            await strg.getDownloadURL().then (url) ->
              await db.collection("applicants").doc("#{@applicantId}").update({ profile: url })
        @applicant.profile = @editImgSrc
        @editImgSrc = ''
        @editProfileVisible = false
        @saving = false

      logOut: ->
        await firebase.auth().signOut()

      sendMessage: ->
        if !@messageToSend || @messageToSend.length > 0
          msgObj = {
            sent: new Date()
            message: @messageToSend
            owner: "applicant"
          }
          db = firebase.firestore()
          try
            await db.collection("chats").doc("#{@chatId}").update({
              messages: firebase.firestore.FieldValue.arrayUnion(msgObj)
            }).catch (e) ->
              console.log e
          catch e
            console.log e
          @messageToSend = ''

      showChatRoom: (id) ->
        try
          @chatId = id
          context = @
          @room = {}
          db = firebase.firestore()
          await db.collection("chats").doc("#{@chatId}").onSnapshot (doc) ->
            await db.collection("employers").doc("#{doc.data().employerId}").get().then (employer) ->
              context.chattingWith = employer.data().name
            context.room = {
                  id: doc.id
                  doc.data()...
                }
        catch e
          console.log e
        @chatRoomVisible = true

      refresh: () ->
        @loading = true
        if(@chats.length == 0)
          context = @
          db = firebase.firestore()
          try
            @unsubscribe = await db.collection("chats").where("applicantId","==","#{@applicantId}").onSnapshot (snapshot) ->
              context.chats = []
              snapshot.forEach (doc) ->
                await db.collection("employers").doc("#{doc.data().employerId}").get().then (employer) ->
                  context.chats.push {
                    id: doc.id
                    name: employer.data().name
                    logo: employer.data().logo
                    doc.data()...
                  }

          catch e
            console.log e
        @loading = false

      load: () ->
        try
          @refresh()
          db = firebase.firestore()
          context = @
          await db.collection("applicants").doc("#{@$route.params.id}").get().then (doc) ->
            context.applicantData = doc.data()
          .catch (error) ->
            console.log error
        catch e
          console.log e
</script>

<style lang="stylus" scoped>
  .topPadding
    height 10vh
  .content-swipe
    height 90vh
  .text
    font-size 10px
    &-header
      font-size 12px
      font-weight bold
  .my-message
    background-color #09cefd
    color #01647c
    width 75%
    padding 5px
    word-wrap break-word
    // text-align right
    margin-left auto
    margin-right 0
  .their-message
    background-color #f6d624
    color #786705
    width 75%
    padding 5px
    word-wrap break-word
    // text-align left
    margin-left 0
    margin-right auto
</style>
