<template lang='pug'>
  div(class="fullHeight centerDiv")
    template(v-if="!loading")
      img(src="~/assets/logo.png" width="200")
      v-ons-input(class="basicSpacing textWidth" placeholder="E-mail Address" float type="email" v-model="email")
      v-ons-input(class="basicSpacing textWidth" placeholder="Password" float type="password" v-model="pass")
      ons-row(class="textWidth")
        ons-col(class="centerDiv")
          v-ons-button(class="button-blue" @tap="onLogIn()") Log In
        ons-col(class="centerDiv")
          nuxt-link(to="/signUp" class="button-yellow" tag="v-ons-button") Sign Up
      p Forgot your password?
    template(v-else)
      img(src="~/assets/logo.png" width="200")



</template>

<script lang='coffee'>
  import firebase from 'firebase'
  export default
    created: ->
      @loading = true
      if !firebase.apps.length
        firebase.initializeApp(@fBInit)
    mounted: ->
      context = @
      db = firebase.firestore()
      await firebase.auth().onAuthStateChanged (user) ->
        if user
          context.test = user.uid
          await db.collection("users").doc("#{user.uid}").get().then (doc) ->
            if doc.exists
              switch doc.data().type
                when 'applicant'
                  console.log "APPLICANT"
                  context.$router.push("/applicantPages/home/#{doc.data().typeId}")
                when 'employer'
                  console.log 'EMPLOYER'
                  context.$router.push("/employerPages/home/#{doc.data().typeId}")
        else
          context.test = "Not Logged In"
          context.loading = false

    data: ->
      title: 'Jubs Darekt'
      email: ''
      pass: ''
      test: ''
      loading: false

    computed:
      # NUXT CONSTANTS
      fBInit: -> process.env.firebaseInitializer

    methods:
      onLogIn: ->
        context = @
        try
          auth = firebase.auth()
          firebase.auth().signInWithEmailAndPassword(@email, @pass)
          .then (result) ->
            db = firebase.firestore()
            user = await auth.currentUser
            # console.log "TOKEN"
            # FCMPlugin.getToken (token) ->
            #   console.log token
            # console.log await firebase
            # console.log await firebase.getToken()
            if user
              await db.collection("users").doc("#{result.user.uid}").get().then (doc) ->
                if doc.exists
                  switch doc.data().type
                    when 'applicant'
                      console.log "APPLICANT"
                      context.$router.push("/applicantPages/home/#{doc.data().typeId}")
                    when 'employer'
                      console.log 'EMPLOYER'
                      context.$router.push("/employerPages/home/#{doc.data().typeId}")
                else
                  context.$ons.notification.alert('The password is invalid or the user does not exist.')
          .catch (error) ->
            console.log error
            context.$ons.notification.alert('Log In Error.')
        catch e
          console.log e

</script>

<style lang='stylus'>
  .fullHeight
    height 100vh
  .centerDiv
    display flex
    align-items center
    justify-content center
    flex-direction column
  .rightDiv
    display flex
    align-items right
    justify-content center
    flex-direction column
  .basicSpacing
    margin 10px
  .dialogPadding
    padding 10px
  .textWidth
    width 75vw
  .button-blue
    background-color #09cefd
    color #01647c
    width 100%
    margin-right 6px
    &-small
      background-color #09cefd
      color #01647c
      width 80%
      margin-right 0px
  .button-yellow
    background-color #f6d624
    color #786705
    width 100%
    margin-left 6px
    &-small
      background-color #f6d624
      color #786705
      width 80%
      margin-left 0px
</style>
