<template lang='pug'>
  div(class="fullHeight centerDiv")
    p What account are you signing up for?
    ons-row(class="textWidth")
      ons-col(class="centerDiv")
        nuxt-link(to="signUpPages/applicantPage" class="button-blue" tag="v-ons-button") Applicant
      ons-col(class="centerDiv")
        nuxt-link(to="signUpPages/employerPage" class="button-yellow" tag="v-ons-button") Employer
</template>

<script lang='coffee'>
  export default
    data:
      title: "Jubs Darekt"
</script>

<style lang="stylus">
  .textWidth
    width 75vw
  .fullHeight
    height 100vh
  .centerDiv
    display flex
    align-items center
    justify-content center
    flex-direction column
  .button-blue
    background-color #09cefd
    color #01647c
    width 100%
    margin-right 6px
  .button-yellow
    background-color #f6d624
    color #786705
    width 100%
    margin-left 6px
</style>
